[defaults]
inventory = inventories/hosts.yml
roles_path = roles
stdout_callback = ansible.builtin.default
result_format = yaml
retry_files_enabled = False
interpreter_python = auto_silent
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible/tmp

[privilege_escalation]
become = False
